@model soft.Models.products

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.product_name &nbsp; Product info:</h1>
<img src="~/Img/@Model.product_pic" style="width: 150px;border-radius:50%" alt="Avatar" />

<p class="text-muted">Code: @Model.product_Id </p>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product_price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product_price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories.category_Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.product_Id"><i class="bi bi-pencil-square" style="font-size: 1.5rem; color:black;  padding: 5px; border-radius: 5px;"></i></a> |
    
    <a asp-action="Index" class="">
    <i class="bi bi-box-arrow-in-left" style="font-size: 1.5rem; color:black;  padding: 5px; border-radius: 5px;"></i>
    </a>
</div>
